/* Menu SuperAdmin */
@import url("https://fonts.googleapis.com/css?family=Kaisei+Decol:400");

.menu-superadmin{
position: relative;
width: 1280px;
height: 720px;

background: #FFFFFF;
}

.overlap-group3{
    display: flex;
    align-items: flex-start;
    background-image: URL("Jumeirah+Beach+Hotel_FP001.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    flex-direction: column;
    height: 720px;
    width: 1280px;
    
}


.frame-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #323232;
    gap: 255px;
    width: 100%;
    height: 4rem;
    z-index: 100;

position: fixed;
left: 0px;
top: 0px; 
}


.logo{
    margin-left: 2rem;
    width: 157px;
    height: 3rem;
    object-fit: cover;
    
    


    flex: none;
    order: 0;
    flex-grow: 0;
}


.navbar{
  
display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
gap: 3rem;
width: 50;
height: 3rem;


flex: none;
order: 1;
flex-grow: 0;

}



.navbar-link-home-page{
    width: 94px;
    height: 26px;
    
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
   
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF; 


flex: none;
order: 0;
flex-grow: 0;

}

.navbar-link-cuartos-y-suits{


width: 133px;
height: 26px;

font-family: 'Kaisei Decol';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 26px;

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



flex: none;
order: 1;
flex-grow: 0;


}



.navbar-link-contacto{
    width: 80px;
height: 26px;

font-family: 'Kaisei Decol';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 26px;

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



flex: none;
order: 2;
flex-grow: 0;
}



.navbar-link-usuarios{
    width: 82px;
height: 26px;

font-family: 'Kaisei Decol';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 26px;

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



flex: none;
order: 3;
flex-grow: 0;
}





.login{
    position: absolute;
    box-sizing: border-box;
    right: 3rem;


display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 106px;
height: 37px;

border: 2px solid #FFFFFF;
border-radius: 5px;


flex: none;
order: 4;
flex-grow: 0;

}




.log-in{
width: 106px;
height: 37px;


font-family: 'Kaisei Decol';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



flex: none;
order: 0;
flex-grow: 0;

}



.overlap-group4{
    position: absolute;
    width: 924px;
    height: 485px;
    left: 215px;
    top: 175px;

    background: #D9D9D9;
    opacity: 0.9;
    border-radius: 20px;
}


.bienvenido{
position: absolute;
width: 711px;
height: 72px;
left: 55px;
top: 10px;

font-family: 'Kaisei Decol';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 72px;
display: flex;
align-items: center;
text-align: center;
align-self: flex-start;

color: #000000;
}




.overlap-group{
    position: absolute;
    width: 110px;
    height: 50px;
    left: 745px;
    top: 400px;
    
    background: #765B5B;
    border-radius: 70px;
}





.salir{
position: absolute;
width: 57px;
height: 36px;
left: 32px;
top: 6px;

font-family: 'Kaisei Decol';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}






.overlap-group1{
position: absolute;
width: 382px;
height: 66px;
left: 265px;
top: 124px;
background: #323232;
border-radius: 50px;
margin-top: 40px;

}




.gestionar-usuarios{
    position: absolute;
    width: 231px;
    height: 36px;
    left: 75px;
    top: 12px;
    
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;

} 




.overlap-group2{
    position: absolute;
width: 382px;
height: 66px;
left: 265px;
top: 297px;

background: #323232;
border-radius: 50px;
}


.gestionar-habitaciones{
    position: absolute;
width: 284px;
height: 36px;
left: 55px;
top: 12px;

font-family: 'Kaisei Decol';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


color: #FFFFFF;
}


.valign-text-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
